/* Styling for the main heading */
.head-text {
  text-align: center;
  margin-bottom: 2rem;
  span {
    color: #8B4513; /* Dark brown color */
  }
}

/* Styling for the entire About section */
.app__about {
  padding: 2rem;
  background-image: url('/assets/bg-repeat.png');

  @media screen and (min-width: 768px) {
    padding: 4rem;
  }

  @media screen and (min-width: 1200px) {
    padding: 6rem;
  }
}

/* Styling for each section */
.app__section {
  margin-bottom: 3rem;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

/* Styling for article items */
.app__articles {
  @media screen and (min-width: 768px) {
    flex: 2;
    padding-right: 2rem;
  }
}

/* Styling for aside images */
.app__aside {
  @media screen and (min-width: 768px) {
    flex: 1;
    padding-left: 2rem;
  }
}

/* Styling for individual article item */
.app__article-item {
  margin-bottom: 2rem;
}

/* Styling for individual aside image */
.app__aside-img {
  img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
  }
}

/* Styling for mobile view */
@media screen and (max-width: 767px) {
  .app__section {
    flex-direction: column;
  }
  .app__articles, .app__aside {
    padding: 0;
  }
}

.app__perans {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  .app__peran-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem;

    @media screen and (min-width: 768px) {
      width: calc(50% - 2rem);
    }

    @media screen and (min-width: 1200px) {
      width: calc(33.33% - 2rem);
    }
  }
}
