
.yayasan-container {
  padding-top: 90px;
  max-width: 1200px;
  margin: 20px;
}

.head-text-yayasan {
  font-size: 30px;
  margin-bottom: 15px;
  justify-content: center;
  color: #8a5608;
  text-align: center; /* Center the text horizontally */
  
  @media (max-width: 768px) {
    font-size: 16px; /* Adjust font size for smaller screens */
  }
}


.app__yayasan {
  background-image: url('/assets/bg-repeat.png');
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: stretch;
  }

  .anside {
    padding: 10px;
    color: #ffffff;
    flex: 1;

    @media screen and (min-width: 768px) {
      flex: 0.3;
    }
  }

  .artikel {
    padding: 10px;
    padding-top: 20px;
    justify-content: center;
    flex: 1;

    img {
      width: 90%;
      height: auto;
      margin-bottom: 30px;
    }

    p {
      margin-bottom: 55px;
    }
  }
}

/* Add more responsive styles as needed */
