.app__contact {
    flex: 1;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
  
  .app__contact-cards {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 4em 2rem 2rem;
  
    .app__contact-card {
      min-width: 290px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
  
      margin: 1rem 0;
      padding: 1rem;
      border-radius: 10px;
      cursor: pointer;
      background-color: #abd1c6;
  
      transition: all 0.3s ease-in-out;
  
      img {
        width: 40px;
        border-radius: 10px;
        height: 40px;
        margin: 0 0.7rem;
      }
  
      p,
      a {
        font-weight: 500;
        text-decoration: none; /* Add text decoration for consistency */
      }
  
      &:hover {
        box-shadow: 0 0 25px var(--danger-color);
      }
  
      @media screen and (max-width: 450px) {
        width: 100%;
      }
    }
  
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  
  .app__contact-cards .app__contact-card:last-child {
    background-color: #abd1c6;
  
    &:hover {
      box-shadow: 0 0 25px var(--danger-color);
    }
  }
  
  .app__contact-form {
    width: 90%;
    flex-direction: column;
    margin: 1rem 2rem;
  
    div {
      width: 100%;
      margin: 0.75rem 0;
      border-radius: 10px;
      cursor: pointer;
      background-color: var(--danger-color);
  
      transition: all 0.3s ease-in-out;
  
      input,
      textarea {
        width: 100%;
        padding: 0.95rem;
        border: none;
        border-radius: 7px;
        background-color: var(--primary-color);
  
        font-family: var(--font-base);
        color: var(--danger-color);
        outline: none;
      }
  
      textarea {
        height: 170px;
      }
  
      &:hover {
        box-shadow: 0 0 25px #f67575;
      }
    }
  
    button {
      padding: 1rem 2rem;
      border-radius: 10px;
      border: none;
      background-color: #b32929;
  
      font-weight: 500;
      color: var(--white-color);
      outline: none;
      margin: 2rem 0 0 0;
      font-family: var(--font-base);
  
      transition: cubic-bezier(0.55, 0.085, 0.68, 0.53);
      cursor: pointer;
  
      &:hover {
        background-color: #39d26a;
      }
    }
  
    @media screen and (max-width: 768px) {
      width: 100%;
      margin: 1rem 0;
    }
  }
  