.program-container {
    padding: 50px;
    background-image: url('/assets/bg-repeat.png');
    border: 1px solid #ccc;
    border-radius: 5px;
  
    p {
      font-size: 16px;
      line-height: 1.5;
      color: #333;
      width: 90%;
      padding: 10px;
      margin-left: 30px;
    }
    h2,
    h3 {
    color: #65480f;
    margin-left: 30px;
  
      .program-title {
        justify-content: center;
      }
    }
    .img-daring {
        text-align: center;
        
        img {
          max-width: 100%;
          height: auto;
          display: block;
          margin: 0 auto;
        }
      
        p {
          margin-top: 10px;
          font-weight: bold;
        }
      } 
  }
  