.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:#a11e1eb5; 
        
    .footer__logo img {
      max-width: 110px;
      height: auto;
      justify-content: center;      
    }
    
    .footer__address,
    .footer__contact {
      flex: 1;
      padding: 10px;
      margin: 0 10px;
      text-align: center;
      color:var(--white-color)
      
    }
    
    .footer__contact a {
      text-align: justify;
      color:var(--white-color)
    }
  
  
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: stretch;

      .footer__logo {
      content: center;  
      }

      .footer__address,
      .footer__contact {
        margin: 10px 0;
        text-align: start;

      }
    }
  }
  