.academic-container {
  padding-top: 90px;
  background-image: url('/assets/bg-repeat.png');
  border: 1px solid #ccc;
  border-radius: 5px;

  p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    width: 90%;
    padding: 10px;
    margin-left: 30px;
  }
  h2 {
  color: #65480f;
  margin-left: 30px;

    .academic-title {
      justify-content: center;
    }
  }
}

