.header {
  width: 100%;
  height: 100vh; /* Menggunakan 100vh untuk mengisi tinggi viewport */
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;

  @media (max-width: 768px) {
    height: 50vh; /* Mengurangi tinggi header untuk tampilan tablet */
  }
}
